*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Figtree', sans-serif;
  color: white;
  overflow-x: hidden;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
ul,
ul li {
  list-style: none;
}
input,
textarea,
button,
select {
  background-color: transparent;
  outline: none;
  border: none;
}
button {
  border: 1px solid #fff;
  border-radius: 200px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
}
input::-ms-clear {
  display: none;
}
.container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #1d1f1e;
}
.header {
  background: #022c22;
  padding: 24px 0 94px;
}
.header .menu__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .menu__nav a {
  color: white;
}
.header .menu__button button {
  width: 129px;
  height: 48px;
}
.header .header__info {
  text-align: center;
  margin-top: 96px;
}
.header .header__info .info__suptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header .header__info .info__suptitle .suptitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.header .header__info .info__title {
  width: 100%;
  max-width: 592px;
  margin: 0 auto;
  padding: 24px 0 32px;
}
.header .header__info .info__title p {
  font-size: 96px;
  line-height: 94%;
  letter-spacing: -0.05em;
}
.header .header__info .info__text {
  width: 100%;
  max-width: 592px;
  margin: 0 auto;
}
.header .header__info .info__text p {
  font-size: 18px;
  line-height: 144%;
}
.header .header__info .info__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 40px 0 2px;
}
.header .header__info .info__buttons .solution__button button {
  width: 187px;
  height: 56px;
  background: #bef264;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #1d1f1e;
  border: none;
}
.header .header__info .info__buttons .get__button button {
  width: 149px;
  height: 56px;
}
.header .info__img img {
  margin-left: -110px;
}
.header .header__partners .partner__title {
  padding: 95px 0 64px;
  width: 488px;
  margin: 0 auto;
}
.header .header__partners .partner__title p {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-align: center;
}
.header .swiper {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.header .swiper-slide {
  background: rgba(255, 255, 255, 0.24);
  width: 419px;
  padding: 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution__container {
  border-radius: 24px;
  padding: 64px 0 104px;
  width: 100%;
  max-width: 1408px;
  background: #fff7ed;
  margin: 0 auto;
}
.solution__container .solution__suptitle p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #1d1f1e;
  position: relative;
}
.solution__container .solution__suptitle p::after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/Dot.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.solution__container hr {
  margin-top: 16px;
  border-bottom: 1px solid #d9dedd;
  height: 0.5px;
  margin-bottom: 56px;
}
.solution__container .solution__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 96px;
}
.solution__container .solution__table .table__item {
  width: 50%;
  margin-bottom: 64px;
}
.solution__container .solution__table .item__title {
  margin-top: 24px;
}
.solution__container .solution__table .item__title p {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1d1f1e;
}
.solution__container .solution__table .item__text {
  margin: 12px 0 24px;
  width: 592px;
}
.solution__container .solution__table .item__text p {
  line-height: 150%;
  letter-spacing: 0em;
  color: #646a69;
  opacity: 0.8px;
}
.solution__container .solution__table .item__read a {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #022c22;
}
.about {
  padding-top: 104px;
  padding-bottom: 78px;
}
.about .wrapper {
  align-items: start;
}
.about .description__text {
  width: 696px;
}
.about .description__text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1d1f1e;
}
.about .description__button {
  margin-top: 40px;
}
.about .description__button a {
  border-radius: 200px;
  padding: 16px 24px;
  background: #bef264;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0em;
  color: #1d1f1e;
}
.about .about__slider {
  margin-top: 96px;
  margin-bottom: 204px;
  width: 100%;
  height: 100%;
}
.about .info__numbers p {
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #1d1f1e;
}
.about .info__description {
  margin-top: 16px;
}
.about .info__description p {
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.expert {
  padding: 104px 0 104px;
}
.expert .expert__text {
  margin: 16px 0 88px;
}
.expert .expert__text p {
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.expert .swiper-slide {
  background-image: url(../img/expert1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}
.expert .swiper-slide .expert__info {
  border-radius: 8px;
  padding: 16px;
  background: #fff;
}
.expert .swiper-slide .expert__info .expert__name p {
  font-weight: 500;
  line-height: 150%;
  color: #1d1f1e;
}
.expert .swiper-slide .expert__info .expert__proffesion p {
  font-size: 14px;
  line-height: 143%;
  color: #646a69;
}
.expert .swiper-button-next,
.expert .swiper-button-prev {
  top: 4rem;
}
.expert .swiper-button-prev,
.expert .swiper-rtl .swiper-button-next {
  right: 5rem;
  left: auto;
}
.join {
  background: #022c22;
  padding-left: 112px;
}
.join .join__info {
  width: 592px;
}
.join .join__info .join__title p {
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #fff;
}
.join .join__info .join__text {
  margin: 24px 0 40px;
}
.join .join__info .join__text p {
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.8);
}
.join .join__info .join__button button {
  background: #bef264;
  width: 149px;
  height: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #1d1f1e;
}
.blog {
  padding: 104px 0 104px;
  color: #1d1f1e;
}
.blog .blog__see a {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #022c22;
  border-radius: 200px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
}
.blog .post__wrapper {
  align-items: start;
  margin-top: 88px;
}
.blog .post__user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.blog .post__user p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.blog .main__post .post__description {
  width: 632px;
}
.blog .main__post .blog__hashtags {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px 0 24px;
}
.blog .main__post .blog__hashtags .hashtag__item {
  border: 1px solid #d9dedd;
  border-radius: 20px;
  padding: 0px 8px;
}
.blog .main__post .blog__hashtags .hashtag__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.blog .main__post .post__title p {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.blog .main__post .post__text {
  margin: 16px 0 24px;
}
.blog .main__post .post__text p {
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.blog .sidebar__item {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 32px;
}
.blog .sidebar__item .post__info {
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog .sidebar__item .post__info .info__title p {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.faq {
  background: #fff7ed;
  padding: 104px 0 104px;
}
.faq .faq__info {
  text-align: center;
}
.faq .faq__info .faq__text {
  margin: 24px 0 88px;
}
.faq .faq__info .faq__text p {
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.faq .accordeon__item {
  padding: 24px 32px;
  box-shadow: 0 0 0 1px rgba(18, 105, 63, 0.08), 0 1px 2px 0 rgba(87, 92, 86, 0.16), 0 24px 24px -12px rgba(54, 74, 54, 0.06);
  background: #fff;
  border-radius: 16px;
  width: 592px;
  margin-bottom: 16px;
}
.faq .accordeon__item:hover {
  cursor: pointer;
}
.faq .accordeon__item .accordeon__top {
  display: flex;
  justify-content: space-between;
}
.faq .accordeon__item .item__title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #1d1f1e;
}
.faq .accordeon__item .item__text {
  width: 542px;
}
.faq .accordeon__item .item__text p {
  line-height: 150%;
  color: #646a69;
}
.faq .accordeon__item .item__text.hidden {
  display: none;
}
.faq .faq__contact {
  margin-top: 112px;
  text-align: center;
}
.faq .faq__contact .contact__title {
  margin: 32px 0 16px;
}
.faq .faq__contact .contact__title p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1d1f1e;
}
.faq .faq__contact .contact__info {
  line-height: 150%;
  color: #646a69;
  width: 584px;
  margin: 0 auto;
}
.faq .faq__contact .contact__info a {
  font-weight: 500;
  color: #1d1f1e;
}
.faq .faq__contact .contact__info a:first-child {
  text-decoration: underline;
}
.testimonials {
  padding: 104px 0 104px;
}
.testimonials .testimonials__info {
  text-align: center;
}
.testimonials .testimonials__text {
  margin: 24px 0 88px;
}
.testimonials .testimonials__text p {
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.testimonials .testimonials__swiper .slider__item {
  border-radius: 16px;
  padding: 48px 64px;
  box-shadow: 0 0 0 1px rgba(18, 105, 63, 0.08), 0 1px 2px 0 rgba(87, 92, 86, 0.16), 0 24px 24px -12px rgba(54, 74, 54, 0.06);
  background: #fff;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.testimonials .testimonials__swiper .slider__item .slider__title {
  margin: 24px 0 40px;
}
.testimonials .testimonials__swiper .slider__item .slider__title p {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #1d1f1e;
}
.testimonials .testimonials__swiper .slider__item .slider__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1d1f1e;
}
.testimonials .testimonials__swiper .slider__item .slider__prof {
  margin-top: 8px;
  font-size: 18px;
  line-height: 144%;
  color: #646a69;
}
.touch {
  padding: 16px;
}
.touch .touch__container {
  border-radius: 24px;
  padding: 64px 96px;
  background: #022c22;
}
.touch .touch__container .touch__title {
  width: 592px;
}
.touch .touch__container .touch__title p {
  font-size: 62px;
  line-height: 110%;
  letter-spacing: -0.03em;
}
.touch .touch__container .touch__email input {
  border-radius: 200px;
  padding: 16px 20px;
  width: 331px;
  height: 56px;
  box-shadow: 0 0 0 1px rgba(2, 44, 34, 0.13), 0 1px 2px 0 rgba(2, 44, 34, 0.08);
  background: #fff;
}
.touch .touch__container .touch__email input::placeholder {
  line-height: 150%;
  color: #646a69;
}
.touch .touch__container .touch__button button {
  border-radius: 200px;
  width: 149px;
  height: 56px;
  background: #bef264;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #1d1f1e;
}
.footer {
  padding: 101px 0 55px;
}
.footer .wrapper {
  align-items: start;
}
.footer .footer__columns .columns__title {
  font-weight: 500;
  line-height: 150%;
  color: #1d1f1e;
}
.footer .footer__columns .columns__link {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.footer .footer__columns .columns__link a {
  line-height: 150%;
  color: #646a69;
}
.footer .footer__columns .columns__link span {
  margin-left: 8px;
  border-radius: 6px;
  padding: 2px 8px;
  background: #022c22;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
}
.footer .social__item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.footer .social__item .social__text p {
  font-weight: 500;
  line-height: 150%;
  color: #1d1f1e;
}
.footer .rights p {
  margin-top: 110px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 143%;
  color: #646a69;
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .header .header__info .info__title p {
    font-size: 50px;
  }
  .header .header__info .info__text p {
    font-size: 14px;
  }
  .header .header__info .info__buttons .solution__button button {
    width: 157px;
    height: 46px;
    font-size: 13px;
  }
  .header .header__info .info__buttons .get__button button {
    width: 120px;
    height: 46px;
  }
  .header .header__partners .partner__title {
    width: 100%;
  }
  .header .header__partners .partner__title p {
    font-size: 38px;
    line-height: 110%;
  }
}
